
$primaryFontFamily: "Roboto";
$secondaryFontFamily: "sans-serif";

//font sizes
$mainFont: 15px;
$secondaryFont: 16px;
$tableFont: 13px;
$menuFont: 15px;
$titleFont: 20px;
$subTitle: 18px;
$largeTitle: 42px;

// colors
$white: #fff;
$black: #000;
$green: #4cc71d;
$blue: #006cf0;
$red: #ff7272;
$mainBg: #ffffff;
$dark: #202020;
$lightDark: #666666;
$mainBrown: #b69f58;

$primary: $mainBrown;
$secondary: $blue;
$error: $red;
$purple: #716eb6;

$defaultMaxWidth: 375px;

// mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// extra small devices
@mixin xs {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}
// small devices
@mixin sm {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}
// medium devices
@mixin md {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}
// large devices
@mixin lg {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

// extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
